/* FONT */

@import url("https://p.typekit.net/p.css?s=1&k=gyv3izn&ht=tk&f=37746.37754.37756.37758&a=15916513&app=typekit&e=css");

@font-face {
font-family:"urbane";
src:url("https://use.typekit.net/af/c5f153/00000000000000003b9b1a36/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/c5f153/00000000000000003b9b1a36/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/c5f153/00000000000000003b9b1a36/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"urbane";
src:url("https://use.typekit.net/af/14bdda/00000000000000003b9b1a3e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/14bdda/00000000000000003b9b1a3e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/14bdda/00000000000000003b9b1a3e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"urbane";
src:url("https://use.typekit.net/af/682c63/00000000000000003b9b1a40/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/682c63/00000000000000003b9b1a40/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/682c63/00000000000000003b9b1a40/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"urbane";
src:url("https://use.typekit.net/af/72f7c9/00000000000000003b9b1a42/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/72f7c9/00000000000000003b9b1a42/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/72f7c9/00000000000000003b9b1a42/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:100;
}

.tk-urbane { font-family: "urbane",sans-serif; }

/* PAGE STYLING */
*{
    font-family: 'urbane';
    margin: 0;
    padding: 0;
}

.section{
    /* border: red;
    border-style: solid; */
    height: 90vh;
}



.heading-1{
    /* border: red;
    border-style: solid; */
    text-align: center;
    font-size: medium;
    margin-top: 4.5vh;
    font-size: xx-large;
    font-weight: 600;
}

.heading-2{
    /* border: red;
    border-style: solid; */
    text-align: center;
    font-size: medium;
    margin-top: 4.0vh;
    font-size: xx-large;
    font-weight: 600;
}


.circle-container{
    /* border: red;
    border-style: solid; */
    height: 90%;
    margin-top: .25%;
}

.label-container-1{
    /* border: red;
    border-style: solid; */
    position: absolute;
    height: 25%;
    width: 100%;
    top: 50%;  
}

.label-single-container-1{
    display: inline-block;
    height: 50%;
    width: 11%;
    /* padding-left: 2.5%; */
    margin: 1.2%;
    padding-left: .125%;
    text-align: center;
    font-weight: 300;
    /* border: red;
    border-style: solid; */

}

.label-container-2{
    /* border: red;
    border-style: solid; */
    position: absolute;
    height: 25%;
    width: 100%;
    top: 130%;  
}

.label-single-container-2{
    display: inline-block;
    height: 50%;
    width: 30%;
    /* padding-left: 2.5%; */
    margin: 8%;
    padding-left: 2.25%;
    text-align: center;
    font-weight: 300;
    /* border: red;
    border-style: solid; */

}

.disclaimer{
    position: absolute;
    top: 190%;
    font-size: small;
    font-weight: 100;
    padding: 2pt;
}




/* Google
63,000 calls/sec
.063M calls/sec


Facebook
13,000,000 calls/sec
13M calls/sec


Twitter
70,000 calls/sec
.07M calls/sec */